# PostgreSQL (Dokploy ou local)
DATABASE_URL=postgresql://user:password@localhost:5432/alternup

# nuxt-auth-utils : doit faire au moins 32 caractères
NUXT_SESSION_PASSWORD=change-me-with-a-32-chars-or-more-random-string

# Optionnel
APP_VERSION=1.0.0
NODE_ENV=development
